/* Typography */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/roboto/Roboto-Regular.ttf'),
    url('./assets/fonts/roboto/Roboto-Regular.woff'),
    url('./assets/fonts/roboto/Roboto-Regular.woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/roboto/Roboto-Medium.ttf'),
    url('./assets/fonts/roboto/Roboto-Medium.woff'),
    url('./assets/fonts/roboto/Roboto-Medium.woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/roboto/Roboto-Bold.ttf'),
    url('./assets/fonts/roboto/Roboto-Bold.woff'),
    url('./assets/fonts/roboto/Roboto-Bold.woff2');
}

:root {
  /* Colorbook */
  --color-paper-081: #fefefe;
  --color-cement-074: #e6e6e6;
  --color-black: #000;
  --color-charcoal-89: #bbb;
  --color-charcoal-65: #585858;
  --color-charcoal-44: #4c4c4c;

  /* Spacing */
  --space-quarter: 0.4rem;
  --space-half: 0.8rem;
  --space-default: 1.6rem;
  --space-double: 3.2rem;
  --space-quad: 6.4rem;
  --space-oct: 12.8rem;

  /* Typography */
  --font-family-sans: 'Roboto', sans-serif;

  /* Font Weights */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  /* Design Elements */
  --transition: 100ms ease-in-out;
}

/* Reset */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  background-color: var(--color-paper-081);
}

a {
  text-decoration: none;
}

/* Type Specs */
.t-brand {
  font-family: var(--font-family-sans);
  font-weight: var(--weight-bold);
  line-height: 1;
  letter-spacing: -0.3rem;
}
@media (max-width: 328.8px) {
  .t-brand {
    font-size: 5.8rem;
  }
}
@media (min-width: 328.9px) and (max-width: 352.8px) {
  .t-brand {
    font-size: 6.2rem;
  }
}
@media (min-width: 352.9px) and (max-width: 396.8px) {
  .t-brand {
    font-size: 6.8rem;
  }
}
@media (min-width: 396.9px) and (max-width: 640.8px){
  .t-brand {
    font-size: 7.4rem;
  }
}
@media (min-width: 640.9px) {
  .t-brand {
    font-size: 7.8rem;
  }
}

.t-title-main {
  font-family: var(--font-family-sans);
  font-weight: var(--weight-medium);
  line-height: 1.1;
}
@media (max-width: 352.8px) {
  .t-title-main {
    font-size: 3rem;
  }
}
@media (min-width: 352.9px) and (max-width: 640.8px) {
  .t-title-main {
    font-size: 3.4rem;
  }
}
@media (min-width: 640.9px) {
  .t-title-main {
    font-size: 3.8rem;
  }
}

.t-title-article {
  font-family: var(--font-family-sans);
  font-weight: var(--weight-medium);
  line-height: 1.1;
  letter-spacing: -0.15rem;
}
@media (max-width: 378.3px) {
  .t-title-article {
    font-size: 3.2rem;
  }
}
@media (min-width: 378.4px) and (max-width: 458.4px) {
  .t-title-article {
    font-size: 3.6rem;
  }
}
@media (min-width: 458.5px) and (max-width: 628.8px) {
  .t-title-article {
    font-size: 4.2rem;
  }
}
@media (min-width: 628.9px) {
  .t-title-article {
    font-size: 4.6rem;
  }
}

.t-title-about {
  font-size: 3.2rem;
  font-family: var(--font-family-sans);
  font-weight: var(--weight-medium);
  line-height: 1;
  letter-spacing: -0.1rem;
}

.t-subtitle {
  font-family: var(--font-family-sans);
  font-weight: var(--weight-regular);
  line-height: 1.4;
  letter-spacing: -0.02rem;
}
@media (max-width: 704.8px) {
  .sub-title {
    font-size: 1.6rem;
  }
}
@media (min-width: 704.9px) {
  .sub-title {
    font-size: 1.8rem;
  }
}

.t-link {
  font-family: var(--font-family-sans);
  font-size: 2.8rem;
  font-weight: var(--weight-regular);
  line-height: 1;
}

.t-body {
  font-family: var(--font-family-sans);
  font-size: 1.4rem;
  font-weight: var(--weight-regular);
  line-height: 1.6;
}

.t-body-large {
  font-family: var(--font-family-sans);
  font-size: 1.8rem;
  font-weight: var(--weight-regular);
  line-height: 1.6;
}

.t-body-footer {
  font-family: var(--font-family-sans);
  font-size: 1.2rem;
  font-weight: var(--weight-regular);
  line-height: 1;
}

/* Global Layout */
body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

/* Screen Reader Only */
.screen-reader-only {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  border: 0;
}

/* Skip Nav */
.skip-nav {
  
}

/* Buttons */
.button {
  padding: 0;
  min-width: 4.8rem;
  min-height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
  background-color: transparent;
  border: none;
  outline: 0.4rem solid transparent;
  outline-offset: -0.2rem;
}
.button:hover {
  color: var(--color-charcoal-65);
  cursor: pointer;
}
.button:hover .button__icon {
  fill: var(--color-charcoal-65);
}
.button:focus {
  outline-color: var(--color-charcoal-44);
}

.button__icon {
  fill: var(--color-black);
}

/* start desktop styles at min-width 987.3 */
/* Header */

/* Mobile Header */
.mobile-header:not(.mobile-header--is-shown) {
  display: none;
}

.mobile-header--is-shown {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 1.12rem;
  background-color: var(--color-cement-074);
}
@media (max-width: 580.8px) {
  .mobile-header--is-shown {
    padding-right: var(--space-double);
    padding-left: var(--space-double);
  }
}
@media (min-width: 580.9px) and (max-width: 704.8px) {
  .mobile-header--is-shown {
    padding-right: var(--space-quad);
    padding-left: var(--space-quad);
  }
}
@media (max-width: 700.8px) {
  .mobile-header--is-shown {
    max-height: 10.4rem;
  }
}
@media (min-width: 700.9px) {
  .mobile-header--is-shown {
    max-height: 11rem;
  }
}
@media (min-width: 704.9px) and (max-width: 900.7px) {
  .mobile-header--is-shown {
    padding-right: calc(var(--space-quad) + var(--space-double));
    padding-left: calc(var(--space-quad) + var(--space-double));
  }
}
@media (min-width: 900.8px) {
  .mobile-header--is-shown {
    padding-right: var(--space-oct);
    padding-left: var(--space-oct);
  }
}

/* Desktop Header */
.desktop-header:not(.desktop-header--is-shown) {
  display: none;
}

.desktop-header--is-shown {
  display: flex;
  position: fixed;
  top: 25%;
  right: 0;
  left: 0;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: transparent;
}

/* Brand */

/* Mobile Brand */
.mobile-brand {
  margin-top: calc(var(--space-default) + var(--space-half));
  margin-bottom: calc(var(--space-default) + var(--space-half));
  display: inline;
  order: 1;
}

.mobile-brand,
.mobile-brand:visited {
  color: var(--color-black);
}

/* Desktop Brand */
.desktop-brand {
  padding-left: var(--space-default);
}

.desktop-brand,
.desktop-brand:visited {
  color: var(--color-black);
}

/* Menu */

/* Mobile Menu */
.mobile-menu:not(.mobile-menu--is-open) {
  display: none;
}
.mobile-menu--is-open {
  padding-bottom: var(--space-quad);
  display: block;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: auto;  
  top: 0;
  left: 0;
  background-color: var(--color-paper-081);
  box-shadow: 0 0.4rem 4rem 0 rgba(108, 108, 108, 0.8);
}
@media (max-width: 580.8px) {
  .mobile-menu--is-open {
    padding-left: var(--space-double);
  }
}
@media (min-width: 580.9px) and (max-width: 704.8px) {
  .mobile-menu--is-open {
    padding-left: var(--space-quad);
  }
}
@media (max-width: 700.8px) {
  .mobile-menu--is-open {
    padding-top: calc(var(--space-double) - var(--space-quarter));
  }
}
@media (min-width: 700.9px) {
  .mobile-menu--is-open {
    padding-top: var(--space-double);
  }
}
@media (min-width: 704.9px) and (max-width: 900.7px) {
  .mobile-menu--is-open {
    padding-left: calc(var(--space-quad) + var(--space-double));
  }
}
@media (min-width: 900.8px) {
  .mobile-menu--is-open {
    padding-left: var(--space-oct);
  }
}

.mobile-menu__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: var(--space-double);
  margin-bottom: var(--space-quad);
  padding: 0;
  list-style: none;
}

.mobile-menu__item:not(:last-of-type) {
  margin-bottom: var(--space-double);
}

.mobile-menu__item__link,
.mobile-menu__item__link:visited {
  color: var(--color-black);
}
.mobile-menu__item__link:hover {
  color: var(--color-charcoal-65);
}

.mobile-menu__close,
.mobile-menu__item__button {
  cursor: pointer;
}

.mobile-menu__overlay:not(.mobile-menu__overlay--is-shown) {
  display: none;
}
.mobile-menu__overlay--is-shown {
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-charcoal-65);
  opacity: 0.6;
  border: none;
}

.mobile-menu__item__search:not(.mobile-menu__item__search--is-open) {
  display: none;
}
.mobile-menu__item__search--is-open {
  display: block;
  width: 100%;
  height: 38rem;
  position: fixed;
  top: 10rem;
  left: 0;
  background-color: var(--color-paper-081);
}

/* Desktop Menu */
.desktop-menu {
  
}

.desktop-menu__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: var(--space-quad);
  padding: 0;
  list-style: none;
}

.desktop-menu__item:not(:last-of-type) {
  margin-bottom: var(--space-default);
}

.desktop-menu__item__link,
.desktop-menu__item__link:visited {
  color: var(--color-black);
}
.desktop-menu__item__link:hover {
  color: var(--color-charcoal-65);
}

.desktop-menu__item__button {
  letter-spacing: -0.06rem;
}

.desktop-menu__item__search:not(.desktop-menu__item__search--is-open) {
  display: none;
}
.desktop-menu__item__search--is-open {
  display: block;
  width: 100%;
  /* height: 38rem;
  position: fixed;
  top: 10rem;
  left: 0;
  background-color: var(--color-paper-081); */
}

/* Search */
.search {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 4.8rem 1fr 4.8rem;
}
@media (max-width: 344.8px) {
  .search {
    margin-right: var(--space-default);
  }
}
@media (min-width: 344.9px) and (max-width: 600.7px) {
  .search {
    margin-right: var(--space-double);
  }
}
@media (max-width: 580.9px) {
  .search {
    margin-left: 0.4rem;
  }
}
@media (min-width: 580.9px) and (max-width: 704.8px) {
  .search {
    margin-right: var(--space-quad);
    margin-left: var(--space-double);
  }
}
@media (max-width: 700.8px) {
  .search {
    margin-top: calc(var(--space-quad) + var(--space-default));
  }
}
@media (min-width: 700.9px) {
  .search {
    margin-top: calc(var(--space-quad) + var(--space-default) + var(--space-quarter));
  }
}
@media (min-width: 704.9px) and (max-width: 900.7px) {
  .search {
    margin-right: calc(var(--space-quad) + var(--space-double));
    margin-left: var(--space-quad);
  }
}
@media (min-width: 900.8px) {
  .search {
    margin-right: var(--space-oct);
    margin-left: calc(var(--space-quad) + var(--space-default));
  }
}

.search__input {
  padding-right: var(--space-quad);
  padding-left: var(--space-half);
  grid-row: 1 / 2;
  grid-column: 2 / -1;
  min-width: 0;
  border: none;
  border-bottom: 0.4rem solid var(--color-charcoal-89);
  transition: var(--transition) border-bottom-color;
}
.search__input:focus {
  outline: none;
  border-bottom-color: var(--color-black);
  border-width: 0.6rem;
  transform: translateY(0.1rem);
}

.search__submit {
  margin-bottom: var(--space-half);
  grid-row: 1 / 2;
  grid-column: 3 / -1;
  z-index: 1;
}
.search__submit .button__icon {
  fill: var(--color-charcoal-65);
}
.search__submit .button__icon:hover {
  fill: var(--color-black);
}

.search__close {
  margin-bottom: var(--space-half);
  grid-column-start: 1;
  grid-column-end: 2;
}

.search__close .button__icon {
  fill: var(--color-charcoal-65);
}
.search__close .button__icon:hover {
  fill: var(--color-black);
}

/* Share Section */
.share-section__cta {
  color: var(--color-charcoal-65);
}

.button--social:first-of-type {
  margin-left: var(--space-double);
}
.button--social:nth-of-type(2) {
  margin-left: var(--space-default);
}

/* Mobile Share Section */
.mobile-share-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Desktop Share Section */
.desktop-share-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: var(--space-double);
}

/* Main Content */
.main {
  margin-bottom: calc(var(--space-quad) + var(--space-default));
}
@media (max-width: 580.8px) {
  .main {
    padding-right: var(--space-double);
    padding-left: var(--space-double);
  }
}
@media (min-width: 580.9px) and (max-width: 704.8px){
  .main {
    padding-right: var(--space-quad);
    padding-left: var(--space-quad);
  }
}
@media (min-width: 704.9px) and (max-width: 987.2px) {
  .main {
    margin-top: var(--space-quad);
    padding-top: var(--space-double);
    padding-right: calc(var(--space-quad) + var(--space-double));
    padding-left: calc(var(--space-quad) + var(--space-double));
  }
}
@media (min-width: 987.3px) {
  .main {
    margin-top: var(--space-double);
    padding-top: 0;
    padding-right: calc((var(--space-oct) * 2) + var(--space-default));
    padding-left: calc((var(--space-oct) * 2) + var(--space-default));
  }
}

/* Home Page */
.lead-title {
  margin-top: var(--space-quad);
  margin-bottom: var(--space-default);
}
@media (min-width: 900.8px) {
  .lead-title {
    padding-right: var(--space-double);
    padding-left: var(--space-double);
  }
}
@media (max-width: 700.8px) {
  .lead-title:first-of-type {
    margin-top: calc(var(--space-double) + var(--space-default) + var(--space-half));
  }
}
@media (min-width: 700.9px) {
  .lead-title:first-of-type {
    margin-top: var(--space-quad);
  }
}

.sub-title {
  margin: 0;
  color: var(--color-charcoal-65);
}
@media (min-width: 900.8px) {
  .sub-title {
    padding-right: var(--space-double);
    padding-left: var(--space-double);
  }
}

/* Articles Page */

/* Article Title */
.article__title {
  margin-top: var(--space-quad);
}
@media (max-width: 360.8px) {
  .article__title {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 360.9px) and (max-width: 434.4px) {
  .article__title {
    padding-right: var(--space-half);
    padding-left: var(--space-half);
  }
}
@media (max-width: 378.3px) {
  .article__title {
    margin-bottom: calc(var(--space-double) + var(--space-default));
  }
}
@media (min-width: 378.4px) and (max-width: 771.2px){
  .article__title {
    margin-bottom: var(--space-quad);
  }
}
@media (min-width: 434.5px) and (max-width: 523.2px) {
  .article__title {
    padding-right: var(--space-default);
    padding-left: var(--space-default);
  }
}
@media (min-width: 523.3px) and (max-width: 648.7px) {
  .article__title {
    padding-right: var(--space-double);
    padding-left: var(--space-double);
  }
}
@media (min-width: 648.8px) and (max-width: 882.3px) {
  .article__title {
    padding-right: calc(var(--space-double) + var(--space-default));
    padding-left: calc(var(--space-double) + var(--space-default));
  }
}
@media (min-width: 771.3px) {
  .article__title {
    margin-top: calc(var(--space-quad) + var(--space-double));
    margin-bottom: calc(var(--space-quad) + var(--space-double));
  }
}
@media (min-width: 882.4px) {
  .article__title {
    padding-right: calc(var(--space-quad) + var(--space-double));
    padding-left: calc(var(--space-quad) + var(--space-double));
  }
}

/* Article Content */
.article__content {
  margin-top: var(--space-default);
  margin-bottom: var(--space-default);
  color: var(--color-charcoal-44);
}
@media (max-width: 360.8px) {
  .article__content {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 360.9px) and (max-width: 434.4px) {
  .article__content {
    padding-right: var(--space-half);
    padding-left: var(--space-half);
  }
}
@media (min-width: 434.5px) and (max-width: 523.2px) {
  .article__content {
    padding-right: var(--space-default);
    padding-left: var(--space-default);
  }
}
@media (min-width: 523.3px) and (max-width: 648.7px) {
  .article__content {
    padding-right: var(--space-double);
    padding-left: var(--space-double);
  }
}
@media (min-width: 648.8px) and (max-width: 882.3px) {
  .article__content {
    padding-right: calc(var(--space-double) + var(--space-default));
    padding-left: calc(var(--space-double) + var(--space-default));
  }
}
@media (min-width: 882.4px) {
  .article__content {
    padding-right: calc(var(--space-quad) + var(--space-double));
    padding-left: calc(var(--space-quad) + var(--space-double));
  }
}
.article__content:first-of-type::before {
  content: '';
  width: 4.8rem;
  height: 0.4rem;
  display: block;
  background-color: var(--color-charcoal-89);
}
@media (max-width: 771.2px) {
  .article__content:first-of-type::before {
    margin-bottom: var(--space-default);
  }
}
@media (min-width: 771.3px) {
  .article__content:first-of-type::before {
    margin-bottom: var(--space-double);
  }
}
.article__content:last-of-type {
  margin-bottom: 0;
  padding-bottom: var(--space-double);
}

/* About Page */
@media (min-width: 900.8px) {
  .about {
    padding-right: var(--space-double);
    padding-left: var(--space-double);
  }
}

.about__title {
  margin-top: var(--space-quad);
  margin-bottom: var(--space-double);
}

.about__title__lead {
  font-size: 4.8rem;
  font-weight: var(--weight-bold);
}
.about__title__lead::after {
  content: '';
  margin-left: var(--space-half);
  margin-bottom: var(--space-default);
  width: 4.8rem;
  height: 0.4rem;
  display: inline-block;
  background-color: var(--color-charcoal-44);
}

.about__title__follow {
  margin-top: var(--space-half);
  display: block;
}

.about__content {
  color: var(--color-charcoal-44)
}

/* Footer */
.footer {
  padding-bottom: var(--space-default);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer__text {
  color: var(--color-charcoal-65);
}