/* Typography */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/roboto/Roboto-Regular.ttf'),
    url('./assets/fonts/roboto/Roboto-Regular.woff'),
    url('./assets/fonts/roboto/Roboto-Regular.woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/roboto/Roboto-Medium.ttf'),
    url('./assets/fonts/roboto/Roboto-Medium.woff'),
    url('./assets/fonts/roboto/Roboto-Medium.woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/roboto/Roboto-Bold.ttf'),
    url('./assets/fonts/roboto/Roboto-Bold.woff'),
    url('./assets/fonts/roboto/Roboto-Bold.woff2');
}

:root {
  /* Colorbook */
  --color-paper-081: #fefefe;
  --color-cement-074: #e6e6e6;
  --color-black: #000;
  --color-charcoal-89: #bbb;
  --color-charcoal-65: #585858;
  --color-charcoal-44: #4c4c4c;

  /* Spacing */
  --space-half: 0.8rem;
  --space-default: 1.6rem;
  --space-double: 3.2rem;
  --space-quad: 6.4rem;
  --space-oct: 12.8rem;

  /* Typography */
  --font-family-sans: 'Roboto', sans-serif;

  /* Font Weights */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  /* Design Elements */
  --transition: 100ms ease-in-out;
}

/* Reset */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  background-color: var(--color-paper-081);
}

a {
  text-decoration: none;
}

/* Type Specs */
.t-brand {
  font-family: var(--font-family-sans);
  font-size: 6.4rem;
  font-weight: var(--weight-bold);
  line-height: 1;
}

.t-title {
  font-family: var(--font-family-sans);
  font-size: 2.8rem;
  font-weight: var(--weight-medium);
  line-height: 1;
}

.t-link {
  font-family: var(--font-family-sans);
  font-size: 2.8rem;
  font-weight: var(--weight-regular);
  line-height: 1;
}

.t-body {
  font-family: var(--font-family-sans);
  font-size: 1.4rem;
  font-weight: var(--weight-regular);
  line-height: 1.6;
}

.t-body-large {
  font-family: var(--font-family-sans);
  font-size: 1.8rem;
  font-weight: var(--weight-regular);
  line-height: 1.6;
}

/* Screen Reader Only */
.screen-reader-only {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  border: 0;
}

/* Skip Nav */
.skip-nav {
  
}

/* Buttons */
.button {
  padding: 0;
  min-width: 4.8rem;
  min-height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
  background-color: transparent;
  border: none;
  outline: 0.4rem solid transparent;
  outline-offset: -0.2rem;
}
.button:hover {
  color: var(--color-charcoal-65);
  cursor: pointer;
}
.button:hover .button__icon {
  fill: var(--color-charcoal-65);
}
.button:focus {
  outline-color: var(--color-charcoal-44);
}

.button__icon {
  fill: var(--color-black);
}

/* Header */
.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 1.12rem;
  background-color: var(--color-cement-074);
}
@media (max-width: 600.7px) {
  .header {
    padding-right: var(--space-double);
    padding-left: var(--space-double);
  }
}
@media (min-width: 600.8px) and (max-width: 728.7px) {
  .header {
    padding-right: var(--space-quad);
    padding-left: var(--space-quad);
  }
}
@media (min-width: 728.8px) and (max-width: 860.7px) {
  .header {
    padding-right: calc(var(--space-quad) + var(--space-double));
    padding-left: calc(var(--space-quad) + var(--space-double));
  }
}
@media (min-width: 860.8px) {
  .header {
    padding-right: var(--space-oct);
    padding-left: var(--space-oct);
  }
}

/* Brand */
.brand-header {
  letter-spacing: -0.3rem;
}

.brand,
.brand:visited {
  color: var(--color-black);
}

/* Menu */
.menu:not(.menu--is-open) {
  display: none;
}
.menu--is-open {
  padding-top: var(--space-double);
  padding-bottom: var(--space-quad);
  display: block;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: auto;  
  top: 0;
  left: 0;
  background-color: var(--color-paper-081);
  box-shadow: 0 0.4rem 4rem 0 rgba(108, 108, 108, 0.8);
}
@media (max-width: 600.7px) {
  .menu--is-open {
    padding-left: var(--space-double);
  }
}
@media (min-width: 600.8px) and (max-width: 728.7px) {
  .menu--is-open {
    padding-left: var(--space-quad);
  }
}
@media (min-width: 728.8px) and (max-width: 860.7px) {
  .menu--is-open {
    padding-left: calc(var(--space-quad) + var(--space-double));
  }
}
@media (min-width: 860.8px) {
  .menu--is-open {
    padding-left: var(--space-oct);
  }
}

.menu__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: var(--space-double);
  margin-bottom: var(--space-quad);
  padding: 0;
  list-style: none;
}

.menu__item:not(:last-of-type) {
  margin-bottom: var(--space-double);
}

.menu__item__link,
.menu__item__link:visited {
  color: var(--color-black);
}
.menu__item__link:hover {
  color: var(--color-charcoal-65);
}

.menu__close,
.menu__item__button {
  cursor: pointer;
}

.menu__overlay:not(.menu__overlay--is-shown) {
  display: none;
}
.menu__overlay--is-shown {
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-charcoal-65);
  opacity: 0.6;
  border: none;
}

/* Search */
.menu__item__search:not(.menu__item__search--is-open) {
  display: none;
}
.menu__item__search--is-open {
  display: block;
  width: 100%;
  height: 38rem;
  position: fixed;
  top: 10rem;
  left: 0;
  background-color: var(--color-paper-081);
}

.search {
  margin-top: var(--space-quad);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 4.8rem  1fr 4.8rem;
}
@media (max-width: 344.8px) {
  .search {
    margin-right: var(--space-default);
  }
}
@media (min-width: 344.9px) and (max-width: 600.7px) {
  .search {
    margin-right: var(--space-double);
  }
}
@media (max-width: 600.7px) {
  .search {
    margin-left: 0.4rem;
  }
}
@media (min-width: 600.8px) and (max-width: 728.7px) {
  .search {
    margin-right: var(--space-quad);
    margin-left: var(--space-double);
  }
}
@media (min-width: 728.8px) and (max-width: 860.7px) {
  .search {
    margin-right: calc(var(--space-quad) + var(--space-double));
    margin-left: var(--space-quad);
  }
}
@media (min-width: 860.8px) {
  .search {
    margin-right: var(--space-oct);
    margin-left: calc(var(--space-quad) + var(--space-default));
  }
}

.search__input {
  padding-right: calc(var(--space-quad) - var(--space-half));
  padding-left: var(--space-half);
  grid-row: 1 / 2;
  grid-column: 2 / -1;
  border: none;
  border-bottom: 0.4rem solid var(--color-charcoal-89);
  transition: var(--transition) border-bottom-color;
}
.search__input:focus {
  outline: none;
  border-bottom-color: var(--color-black);
  border-width: 0.6rem;
  transform: translateY(0.1rem);
}

.search__submit {
  margin-bottom: var(--space-half);
  grid-row: 1 / 2;
  grid-column: 3 / -1;
  z-index: 1;
}
.search__submit .button__icon {
  fill: var(--color-charcoal-65);
}
.search__submit .button__icon:hover {
  fill: var(--color-black);
}

.search__close {
  margin-bottom: var(--space-half);
  grid-column-start: 1;
  grid-column-end: 2;
}

.search__close .button__icon {
  fill: var(--color-charcoal-65);
}
.search__close .button__icon:hover {
  fill: var(--color-black);
}

/* Share Section */
.share-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.share-section__cta {
  color: var(--color-charcoal-65);
}

.button--social:first-of-type {
  margin-left: var(--space-double);
}
.button--social:nth-of-type(2) {
  margin-left: var(--space-default);
}

/* Main Content */
.main {
  margin-top: var(--space-quad);
  margin-bottom: var(--space-quad);
  padding-top: var(--space-double);
}
@media (max-width: 600.7px) {
  .main {
    padding-right: var(--space-double);
    padding-left: var(--space-double);
  }
}
@media (min-width: 600.8px) and (max-width: 728.7px){
  .main {
    padding-right: var(--space-quad);
    padding-left: var(--space-quad);
  }
}
@media (min-width: 728.8px) and (max-width: 860.7px) {
  .main {
    padding-right: calc(var(--space-quad) + var(--space-double));
    padding-left: calc(var(--space-quad) + var(--space-double));
  }
}
@media (min-width: 860.8px) {
  .main {
    padding-right: var(--space-oct);
    padding-left: var(--space-oct);
  }
}
/* start desktop styles at min-width 1025 */

.lead-title {
  margin-top: var(--space-quad);
  margin-bottom: var(--space-default);
}

.sub-title {
  margin: 0;
  color: var(--color-charcoal-65);
}